*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans';
}

@font-face {
    font-family: 'sans';
    src: url('font/sans.ttf');
}

.heading{
    color: whitesmoke;
    font-size: 2.2rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding: 100px;
}

section{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F26076;
}

.clock {
  position: relative;
  width: 450px;
  height: 150px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.clock .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock .container h2 {
  font-size: 3.5rem;
  color: #fff;
}

.clock .container h2:nth-child(odd) {
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

#ampm {
  position: relative;
  top: 30px;
  font-size: 1rem;
  color: #fff;
  font-weight: 1000;
}

footer {
    text-align: center;
    color: white;
    font-size: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    line-height: 5vh;
  }
